<!DOCTYPE html>
  <body>
    <div class="nav">
      <img src="../assets/SL Horizontal 1.png" alt="Logo">
      <a href="" style="padding-left: 2%;">Dashboard</a>
      <a style="padding-left: 2%;">Billing</a>
    </div>
    
    
    <div style="padding-left: 2.5em;">
      <h2>
        Register a new device
      </h2>
      <p>
        Follow the steps to register a new MarCELL
      </p>
    </div>
    

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <!-- First step / Home step -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Information</ng-template>
          <h4>
            Register a new device
          </h4>
          <mat-form-field>
            <mat-label>Device ID</mat-label>
            <input matInput #input maxlength="6" placeholder="Enter ID" formControlName="id" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Device Name</mat-label>
            <input matInput placeholder="Enter Device Name" formControlName="name" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Descriptive Location</mat-label>
            <input matInput placeholder="Enter Location" formControlName="location" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Device Timezone</mat-label>
            <!-- Just listed placeholders -->
            <select matNativeControl formControlName="timezone" required>
              <option value="mountain">GMT -5.00</option>
              <option value="option2">Option2</option>
              <option value="option3">Option3</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div style="position: absolute; top: 30%; right: 20%;">
          <img src="../assets/MarCell-1.png" alt="Progress-1">
        </div>
      </mat-step>
      <!-- Second step -->
      <mat-step [stepControl]="secondFormGroup">
        <!-- TODO Allow slider movement for all forms -->
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Ranges</ng-template>
          <!-- <mat-slide-toggle (click)="toggleT()">Temperature alarms</mat-slide-toggle> -->
          <h3>
            Device Ranges
          </h3>
          <br/>
          <!-- would include *ngIf="showT" but causes a plethora of issues, would functionally hide and show the value below -->
          <mat-form-field> 
            <mat-label>Device Temp Range</mat-label>
            <br/>
            <ngx-slider [(value)]="value1" [(highValue)]="highValue1" [options]="options" formControlName="tempSliderVal">
              <input matInput type="number" [(ngModel)]="value1">
              <input matInput type="number" [(ngModel)]="highValue1">
            </ngx-slider>
          </mat-form-field>
          <br/>
          <mat-form-field> 
            <mat-label>Device Humidity Range</mat-label>
            <br/>
            <ngx-slider [(value)]="value2" [(highValue)]="highValue2" [options]="options" formControlName="humSliderVal">
              <input matInput type="number" [(ngModel)]="value2">
              <input matInput type="number" [(ngModel)]="highValue2">
            </ngx-slider>
          </mat-form-field>
          <div>
            <p>
              Slide the blue circles to identify "safe" ranges withing humidity and temperature
            </p>
          </div>
          <!-- <mat-slide-toggle (click)="toggleH()">Humidity alarms</mat-slide-toggle> -->
          <br/>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div style="position: absolute; top: 30%; right: 20%;">
          <img src="../assets/MarCell-2.png" alt="Progress-1">
        </div>
      </mat-step>
      <!-- Third step -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Alerts</ng-template>

          <h3>
            Notification Schedule
          </h3>


          <!-- TODO change to dynamically loaded elements to allow for edits -->
          <!-- These can be dynamically loaded -->
          <mat-card style="width: 40%;" formControlName="Humidity">
            <mat-card-header>
              <mat-card-title>Humidity</mat-card-title>
              <mat-card-subtitle>emailaddress@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Some Message
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>

          <mat-card style="width: 40%;" formControlName="Power">
            <mat-card-header>
              <mat-card-title>Power</mat-card-title>
              <mat-card-subtitle>emailaddress@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Some Message
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>

          <mat-card style="width: 40%;" formControlName="Temperature">
            <mat-card-header>
              <mat-card-title>Temperature</mat-card-title>
              <mat-card-subtitle>emailaddress@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Some Message
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>

          <mat-chip-listbox selectable multiple matNativeControl formControlName="schedule" aria-label="Schedule selection">
            <mat-chip-option value="humidity">Humidity</mat-chip-option>
            <mat-chip-option value="power">Power</mat-chip-option>
            <mat-chip-option value="temperature">Temperature</mat-chip-option>
          </mat-chip-listbox>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div style="position: absolute; top: 30%; right: 20%;">
          <img src="../assets/MarCell-3.png" alt="Progress-2">
        </div>
      </mat-step>
      <!-- Fourth step -->
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Plan</ng-template>

          <h3>
            Subscription Plan
          </h3>

          <!-- TODO Add addition information and the calendar -->
              <mat-chip-listbox matNativeControl formControlName="selected" aria-label="Schedule selection">
                <mat-chip-option value="monthly">One Month</mat-chip-option>
                <mat-chip-option value="yearly">Twelve Months</mat-chip-option>
              </mat-chip-listbox>
              

          <!-- <mat-calendar [(selected)]="selected">
                <input matInput type="date" [(ngModel)]="selected">
              </mat-calendar> -->

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>

        </form>
        <div style="position: absolute; top: 30%; right: 20%;">
          <img src="../assets/MarCell-4.png" alt="Progress-3">
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Please check over your selections to verify they are correct.</p>
        <mat-list>
          <!-- To clarify and reinstate what was selected -->
          <mat-list-item> <strong>Device ID:</strong> {{ this.firstFormGroup.value.id }}</mat-list-item>
          <mat-list-item> <strong>Device Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
          <mat-list-item> <strong>Device Location:</strong> {{ this.firstFormGroup.value.location }}</mat-list-item>
          <mat-list-item> <strong>Set Timezone:</strong> {{ this.firstFormGroup.value.timezone }}</mat-list-item>
          <mat-list-item> <strong>Temperature Range:</strong> {{ this.secondFormGroup.value.tempSliderVal }}</mat-list-item>
          <mat-list-item> <strong>Humidity Range:</strong> {{ this.secondFormGroup.value.humSliderVal }}</mat-list-item>
          <mat-list-item> <strong>Schedule for:</strong> {{ this.thirdFormGroup.value.schedule }}</mat-list-item>
          <mat-list-item> <strong>Subscription for:</strong> {{ this.fourthFormGroup.value.selected }}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="submit()">Submit</button>
        </div>
        <div style="position: absolute; top: 30%; right: 20%;">
          <img src="../assets/MarCell-Finished.png" alt="Done-Img">
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </body>
