<!DOCTYPE html>
  <body>
    <div class="nav">
      <img src="../assets/SL Horizontal 1.png" alt="Logo">
      <a href="" style="padding-left: 2%;">Dashboard</a>
      <a style="padding-left: 2%;">Billing</a>
    </div>
    
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <!-- First step / Home step -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Information</ng-template>
          <mat-form-field>
            <mat-label>Device ID</mat-label>
            <input matInput #input maxlength="6" placeholder="Enter ID" formControlName="id" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Device Name</mat-label>
            <input matInput placeholder="Enter Device Name" formControlName="name" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Descriptive Location</mat-label>
            <input matInput placeholder="Enter Location" formControlName="location" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Device Timezone</mat-label>
            <!-- Just listed placeholders -->
            <select matNativeControl formControlName="timezone" required>
              <option value="mountain">GMT -5.00</option>
              <option value="option2">Option2</option>
              <option value="option3">Option3</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div style="position: absolute; top: 20%; right: 20%;">
          <img src="../assets/MarCell-1.png" alt="Progress-1">
        </div>
      </mat-step>
      <!-- Second step -->
      <mat-step [stepControl]="secondFormGroup">
        <!-- TODO Allow slider movement for all forms -->
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Ranges</ng-template>
          <mat-slide-toggle (click)="toggleT()">Temperature alarms</mat-slide-toggle>
          <br/>
          <mat-form-field *ngIf="showT">
            <ngx-slider [(value)]="value1" [(highValue)]="highValue1" [options]="options"></ngx-slider>
          </mat-form-field>
          <br/>
          <mat-slide-toggle (click)="toggleH()">Humidity alarms</mat-slide-toggle>
          <br/>
          <mat-form-field *ngIf="showH">
            <ngx-slider [(value)]="value2" [(highValue)]="highValue2" [options]="options"></ngx-slider>
          </mat-form-field>
          <br/>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div style="position: absolute; top: 20%; right: 20%;">
          <img src="../assets/MarCell-2.png" alt="Progress-1">
        </div>
      </mat-step>
      <!-- Third step -->
      <mat-step>
        <form [formGroup]="thirdFormGroup">

        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Please check over your selections to verify they are correct.</p>
        <mat-list>
          <!-- To clarify and reinstate what was selected -->
          <mat-list-item> <strong>Device ID:</strong> {{ this.firstFormGroup.value.id }}</mat-list-item>
          <mat-list-item> <strong>Device Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
          <mat-list-item> <strong>Device Location:</strong> {{ this.firstFormGroup.value.location }}</mat-list-item>
          <mat-list-item> <strong>Set Timezone:</strong> {{ this.firstFormGroup.value.timezone }}</mat-list-item>
          <mat-list-item> <strong>Temp Range:</strong> Low: {{ this.secondFormGroup.value.value1 }}, High: {{ this.secondFormGroup.value.highValue1 }}</mat-list-item>
          <mat-list-item> <strong>Humidity Range:</strong> Low: {{ this.secondFormGroup.value.value2 }}, High: {{ this.secondFormGroup.value.highValue2 }}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </body>
